{% extends '::bootstrap.html.twig' %}
{% block titulo %}
    Novo Voice Panel
{% endblock %}
{% block body -%}
    

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.numPortas) }}
        {{ form_widget(form.numPortas, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.numero) }}
        {{ form_widget(form.numero, { 'attr': { 'class': 'form-control' } }) }}
    </div>    
    <div class="form-group">
        {{ form_label(form.rack) }}
        {{ form_widget(form.rack, { 'attr': { 'class': 'form-control' } }) }}
    </div>
    {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-sm btn-success' } } ) }} <a href="{{ path('voicepanel') }}" class="btn btn-sm btn-info">Voltar para a lista</a>
    {{ form_end(form) }}
{% endblock %}
